<div class="top-bar">
  <p-iconfield class="search-field">
    <p-inputicon class="pi pi-search" />
    <input
      type="text"
      pInputText
      placeholder="Search"
      [fluid]="true"
      [(ngModel)]="search"
    />
  </p-iconfield>

  <p-select
    [options]="cardLayouts"
    [(ngModel)]="layout"
    [showClear]="true"
    optionLabel="name"
    placeholder="Select a Card Layout"
  ></p-select>

  <p-button
    label="Salvar"
    icon="pi pi-save"
    iconPos="right"
    (click)="saveLayoutsAndCards()"
  />
</div>

<div class="cards">
  @for (card of filteredAllCards(); track $index) {
  <div
    [ngStyle]="{
      border: isCardOnGame(card.cardModel) ? '10px solid red' : '1px solid black'
    }"
  >
    <span>{{ card.cardModel.name }}</span>

    <app-card-game-layout
      [cardLayout]="card.cardGame"
      (cardLayoutClicked)="handleCardLayoutClicked(card.cardModel)"
    />
  </div>
  } @empty {
    <p>Sem cartas</p>
  }
</div>
