<div class="top-bar">
  <p-iconfield class="search-field">
    <p-inputicon class="pi pi-search" />
    <input
      type="text"
      pInputText
  [placeholder]="'game-edit-cards.search-placeholder' | translate"
      [fluid]="true"
      [(ngModel)]="search"
    />
  </p-iconfield>

  <p-select
    [options]="cardLayouts"
    [(ngModel)]="layout"
    [showClear]="true"
    optionLabel="name"
    [placeholder]="'game-edit-cards.card-layout-placeholder' | translate"
  ></p-select>
</div>

<p-button
  class="save-btn"
  [label]="'game-edit-cards.save-button' | translate"
  icon="pi pi-save"
  iconPos="right"
  (click)="saveLayoutsAndCards()"
/>

<div class="cards">
  @for (card of filteredAllCards(); track $index) {
  <div class="layout-container" [class.highlight]="isCardOnGame(card.cardModel)" (click)="handleCardLayoutClicked(card.cardModel)">
    <strong>{{ card.cardModel.name }}</strong>

    <app-card-3d [cardWidth]="220" [rotate]="true" [frontTextColor]="'#000'">
      <ng-container cardFront>
        <app-card-game-layout [cardLayout]="card.cardGame" />
      </ng-container>
    </app-card-3d>

  </div>
  } @empty {
    <p>{{'game-edit-cards.empty-message' | translate}}</p>
  }
</div>
