@if (game) {
<p-button
  [routerLink]="['/my-games/game-description', game.id]"
  label="Voltar"
/>
}
<div class="blockly-container">
<div #blocklyDiv style="height: 100%; width: 100%"></div>
</div>

<p-button (click)="saveStringCode();saveWorkSpaceState();" label="Salvar regra" />

<p-drawer [(visible)]="visible" header="Cartas" position="full">
  <div class="cards">
    @for (cardObj of cards; track $index) {
      <app-card-game-layout
        [ngClass]="{ 'selected': cardSelected?.id === cardObj.id }"
        [cardLayout]="cardObj.card"
        (cardLayoutClicked)="selectCard(cardObj)"
      />
    }
  </div>
</p-drawer>

<div class="lateral-menu">
  <p-button (click)="visible = true" label="Lista de cartas" icon="pi pi-arrow-left" />

  @if (cardSelected) {
    <app-card-game-layout [cardLayout]="cardSelected.card" />
  }
</div>
