<div>
  <p-floatlabel variant="on" class="floatlabel">
    <input type="text" pInputText [(ngModel)]="cardName" id="cardName" />
    <label for="cardName">Card name</label>
  </p-floatlabel>

  <div>
    <span>Card Layout:</span>

    <p-select
      [options]="cardLayouts"
      [(ngModel)]="cardLayout"
      optionLabel="name"
      placeholder="Select a Card Layout"
    ></p-select>
  </div>
</div>


@if (cardGame()) {
  <app-card-game-layout [cardLayout]="cardGame()!" (cardLayoutFieldClicked)="clickCardField($event)" />
}

@if (selectedField) {
  <p-floatlabel variant="on" class="floatlabel">
    <input type="text" pInputText [(ngModel)]="selectedField.value" id="cardFieldName" />
    <label for="cardFieldName">Card Field Name</label>
  </p-floatlabel>
}

<p-button
  label="Salvar"
  icon="pi pi-save"
  iconPos="right"
  (click)="saveCard()"
/>
