<div>
  Card name:
  <input type="text" pInputText [(ngModel)]="cardName" />

  Card Layout:
  <input type="text" pInputText [(ngModel)]="cardLayoutName" />
</div>

<div class="card">
  @if (getCard()) {
    @for (field of getCard()!.fields; track $index) {
      <app-card-layout-field
        [cardLayoutField]="field"
        [cardLayoutDimensions]="DIMENSIONS"
        (openCardLayoutField)="clickCard(field)"
        [value]="field.value"
      />
    }
  }
</div>

@if (selectedField) {
  <input type="text" pInputText [(ngModel)]="selectedField.value" />
}
