<div class="panels-container">
    <div class="add-box">
  <i class="pi pi-plus plus-icon"></i>
</div>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
    <app-card-template></app-card-template>
</div>
