.page {
  padding: 1rem 2rem;
}

.btn-create-card-layout {
  width: 100%;
  padding-block: 40px;
  text-transform: uppercase;
  font-size: 1.5rem;
  --p-icon-size: 1.5rem;
}

.buttons {
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}
