
<div class="layouts-page">
  <header class="layouts-header">
    <h1 class="layouts-title">Meus Layouts</h1>
    <div class="layouts-actions">
      <button class="btn-create-card-layout" (click)="showModal()">
        <span class="pi pi-plus" pButtonIcon></span>
        <span pButtonLabel>Criar Layout</span>
      </button>
    </div>
  </header>
  <main>
    <div class="layouts-grid">
      @if (cardLayouts.length === 0) {
        <div class="empty-message">
          Nenhum layout encontrado.
        </div>
      } @else {
        @for (cardLayout of cardLayouts; track $index) {
          <div class="layout-card">
            <div class="layout-card-image">
              <app-card-3d [cardWidth]="220" [rotate]="true" [frontTextColor]="'#000'" (click)="goToCreateLayoutPage(cardLayout.id!)">
                <ng-container cardFront>
                  <app-card-game-layout [cardLayout]="cardLayout" />
                </ng-container>
              </app-card-3d>
            </div>
            <div class="layout-card-info">
              <div class="layout-card-title">{{ cardLayout.name }}</div>

              <div class="buttons">
                <button pButton type="button" icon="pi pi-pencil" label="Editar" (click)="goToCreateLayoutPage(cardLayout.id!)"></button>
                <button pButton type="button" icon="pi pi-trash" label="Deletar" (click)="deleteLayout(cardLayout.id!)"></button>
              </div>
            </div>
          </div>
        }
      }
    </div>
  </main>
</div>

<app-modal-create-card-layout [(showModal)]="showCreateCardLayoutModal" (cardLayoutCreated)="loadCardLayouts()" />
