<h1>Resetar Senha</h1>
<span class="message">Digite sua nova senha</span>

<form class="form" [formGroup]="resetForm" (submit)="onSubmit()">
  <p-floatlabel variant="on">
    <p-password inputId="password" [toggleMask]="true" feedback="false" fluid="true" formControlName="password" />
    <label for="password">Nova senha</label>
  </p-floatlabel>

  <p-button type="submit" class="button-submit" label="Resetar senha" />

  <a class="other-auth-link link" routerLink="/login">Voltar ao login</a>
</form>
