<h1>Resetar Senha</h1>
<span class="message">Digite sua nova senha</span>

<form class="form" [formGroup]="form" (submit)="submitForm()">
  <p-floatlabel variant="on">
    <p-password inputId="password" [toggleMask]="true" [feedback]="false" [fluid]="true" formControlName="password" />
    <label for="password">Nova senha</label>
  </p-floatlabel>
  @if (checkError('password')) {
    <span class="form-error">{{ getErrorMessage('password', 'Campo inválido') }}</span>
  }
  <span class="message">A senha deve ter pelo menos 6 caracteres</span>

  <p-button type="submit" class="button-submit" label="Resetar senha" />

  <a class="other-auth-link" routerLink="/login">Voltar ao login</a>
</form>
