.layout {
  position: relative;
  height: 100%;
  overflow: hidden;
}

.lateral-menu-btn {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 1;
}

.save-btn {
  position: absolute;
  bottom: 10px;
  right: 10px;
  z-index: 1;
}

.card-layout {
  position: absolute;
  top: 50%;
  left: 50%;
  translate: -50% -50%;
  border: 1px solid #000000;
  background-color: #ffffff;
}

.card-layout-info-menu {
  position: absolute;
  top: 10px;
  right: 10px;
}
