<p-drawer [(visible)]="menuVisible" header="Card Layout">
  <p-menu [model]="menuItems"></p-menu>
</p-drawer>

<div class="layout">
  <p-button
    class="lateral-menu-btn"
    label="Menu"
    icon="pi pi-arrow-right"
    iconPos="right"
    (click)="menuVisible = true"
  />
  <p-button
    class="save-btn"
    label="Salvar"
    icon="pi pi-save"
    iconPos="right"
    (click)="saveCardLayout()"
  />

  <div
    class="card-layout"
    [ngStyle]="{
      width: CARD_LAYOUT_WIDTH + 'px',
      height: CARD_LAYOUT_HEIGHT + 'px',
    }"
  >
    @for (cardField of cardFields; track cardField) {
      <app-card-layout-field
        [cardLayoutField]="cardField"
        [cardLayoutDimensions]="DIMENSIONS"
        dragBoundary=".card-layout"
        (openCardLayoutField)="openCardField(cardField)"
      />
    }
  </div>

  @if (cardFieldSelected) {
    <app-card-layout-field-info
      class="card-layout-info-menu"
      [cardLayoutField]="cardFieldSelected"
      [cardLayoutDimensions]="DIMENSIONS"
    />
  }
</div>
