<div class="layout">
  <!-- Menu Lateral -->
  <div class="menu-lateral">
    <p-menu [model]="menuItems"></p-menu>
  </div>

  <!-- Área Central -->
  <div class="area-central">
    <div class="carta-molde" #containerRef>
      <!-- Aqui os blocos serão adicionados -->
       @for (cardField of cardFields; track cardField) {

        @if (cardField.type === 'TEXT') {
          <textarea rows="5" cols="40" pTextarea [autoResize]="true" [readonly]="true" cdkDrag cdkDragBoundary=".carta-molde" class="textarea" #fieldRefs></textarea>
        }

        @else if (cardField.type === 'IMAGE') {
          <div class="campo" cdkDrag cdkDragBoundary=".carta-molde" #fieldRefs>
            eu sou um campo de imagem
          </div>
        }  
       }
    </div>
  </div>

  <p-button label="Salvar Template" (click)="saveCardLayout()" />
</div>
