.button-submit {
  display: block;
  margin: 20px auto;
  width: fit-content;
}

.form {
  max-width: 400px;
  margin: 40px auto 0;
}

p-floatlabel {
  margin-top: 20px;
}

.form-error {
  color: red;
  font-size: 0.8rem;
}

.form-control-error {
  color: red;
  font-size: 0.75rem; /* 12px */
  display: none;

  &.visible {
    display: block;
  }
}

.message {
  display: block;
  color: #545454;
}

.other-auth-link {
  display: block;
  text-align: center;
}
