@if (dragBoundary) {
  <div
    [ngClass]="['card-layout-field', cardLayoutField.type.toLowerCase()]"
    [ngStyle]="{
      width: cardLayoutField.width + 'px',
      height: cardLayoutField.height + 'px',
      minWidth: cardLayoutDimensions.minWidth + 'px',
      minHeight: cardLayoutDimensions.minHeight + 'px',
      maxWidth: cardLayoutDimensions.maxWidth + 'px',
      maxHeight: cardLayoutDimensions.maxHeight + 'px',
    }"
    cdkDrag
    [cdkDragBoundary]="dragBoundary"
    [cdkDragFreeDragPosition]="dragPosition"
    (cdkDragStarted)="startDrag()"
    (cdkDragMoved)="drag($event)"
    (cdkDragEnded)="endDrag()"
    (mousedown)="handleClick()"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>

    <div class="resize-handle resize-handle-width resize-handle-right" (mousedown)="startResize($event, 'right')"></div>
    <div class="resize-handle resize-handle-width resize-handle-left" (mousedown)="startResize($event, 'left')"></div>
    <div class="resize-handle resize-handle-height resize-handle-top" (mousedown)="startResize($event, 'up')"></div>
    <div class="resize-handle resize-handle-height resize-handle-bottom" (mousedown)="startResize($event, 'down')"></div>
  </div>
} @else {
  <div
    [ngClass]="['card-layout-field', cardLayoutField.type.toLowerCase()]"
    [ngStyle]="{
      top: cardLayoutField.y + 'px',
      left: cardLayoutField.x + 'px',
      width: cardLayoutField.width + 'px',
      height: cardLayoutField.height + 'px',
      minWidth: cardLayoutDimensions.minWidth + 'px',
      minHeight: cardLayoutDimensions.minHeight + 'px',
      maxWidth: cardLayoutDimensions.maxWidth + 'px',
      maxHeight: cardLayoutDimensions.maxHeight + 'px',
    }"
    (mousedown)="handleClick()"
  >
    <ng-container *ngTemplateOutlet="content"></ng-container>
  </div>
}

<ng-template #content>
  @if (value) {
    @if (cardLayoutField.type === 'IMAGE') {
      <img [src]="value" alt="card">
    } @else if (cardLayoutField.type === 'TEXT') {
      <span>{{ value }}</span>
    }
  } @else {
    <span [ngClass]="['pi', getIcon(cardLayoutField.type)]"></span>
  }
</ng-template>
