<header>
  <p-menubar [model]="menuItems" class="test">
    <ng-template #start>
      <img class="logo" src="images/logo.png" alt="logo">
    </ng-template>
  </p-menubar>
  <div>
    <!-- <nav>
      <ul>
        <li><a routerLink="/my-games">Meus jogos</a></li>
        <li><a routerLink="/my-layouts">Meus layouts</a></li>
        <li><a routerLink="/create-room">Criar sala</a></li>
      </ul>
    </nav>

    <span>Olá, [nome do usuário]</span>
    <button>Logout</button> -->
  </div>
</header>

<main>
  <router-outlet />
</main>
