<div
  class="card-layout-container"
  [ngStyle]="{
    width: 200 + 'px',
    height: 300 + 'px',
  }"
>
  @for (cardField of cardLayout.cardFields; track cardField) {
      <app-card-game-layout-field
        [cardLayoutField]="cardField"
        [dragBoundary]="isEditing ? '.card-layout-container' : ''"
        [dimensions]="{
          minWidth: 40,
          maxWidth: 200,
          minHeight: 40,
          maxHeight: 300,
        }"
        (cardLayoutFieldClicked)="handleCardLayoutFieldClicked($event)"
      />
  }
</div>
