<h1>{{ 'login.title' | translate }}</h1>
<span class="message">{{ 'login.login-message' | translate }}</span>

<span class="form-control-error" [class.visible]="form.invalid && form.touched">
  @if (loginForm.submitted) {
    Email ou senha inválidos
  } 
</span>

<form class="form" [formGroup]="form" (submit)="submit()" #loginForm="ngForm">
  @let email = form.controls['email'];
  @let password = form.controls['password'];

  <!--Email-->
  <p-floatlabel variant="on">
    <label for="email">{{'login.email' | translate }}</label>
    <input id="email" pInputText [fluid]="true" formControlName="email" />
  </p-floatlabel>
  <span class="form-control-error" [class.visible]="email.invalid && email.touched"> 
    @if (email.hasError('required')) {
      Email é obrigatório
    } @else if (email.hasError('email')) {
      Email não é válido
    }
  </span>

  
  <!--Password-->
  <p-floatlabel variant="on">
    <p-password
      inputId="password"
      [toggleMask]="true"
      [feedback]="false"
      [fluid]="true"
      formControlName="password"
    />
    <label for="password">{{'login.password-label' | translate }}</label>
  </p-floatlabel>
  <span class="form-control-error" [class.visible]="password.invalid && password.touched">
    Senha é obrigatória
  </span>

  <!--Forgot Password-->
  <a class="forget-password-link" routerLink="/forget-password">{{'login.forgot-password' | translate }}</a>

  <!--Submit Button-->
  <p-button type="submit" class="button-submit" label="{{'login.submit-button' | translate }}" />

  <!--Register Link-->
  <a class="other-auth-link" routerLink="/register">{{'login.register-prompt' | translate }}</a>
</form>
