<div class="form-container">
  <h1>Bem-vindo</h1>
  <span class="message">Faça o login</span>

  <form class="form" [formGroup]="loginForm" (submit)="onSubmit()">
    <p-floatlabel variant="on">
      <label for="email">Email</label>
      <input id="email" pInputText fluid="true" formControlName="email" />
    </p-floatlabel>

    <p-floatlabel variant="on">
      <p-password inputId="password" [toggleMask]="true" feedback="false" fluid="true" formControlName="password" />
      <label for="password">Senha</label>
    </p-floatlabel>

    <a class="link" routerLink="/forget-password">Esqueceu a senha?</a>

    <p-button type="submit" class="button-submit" label="Entrar" />

    <a class="other-auth-link link" routerLink="/register">Não tem conta?</a>
  </form>
</div>
