<h1>Bem-vindo</h1>
<span class="message">Faça o cadastro</span>

<form class="form" [formGroup]="registerForm" (ngSubmit)="onSubmit()">
  <p-floatlabel variant="on">
    <label for="name">Nome</label>
    <input id="name" pInputText [fluid]="true" formControlName="name" />
  </p-floatlabel>

  <p-floatlabel variant="on">
    <label for="email">Email</label>
    <input id="email" pInputText [fluid]="true" formControlName="email" />
  </p-floatlabel>

  <p-floatlabel variant="on">
    <p-password inputId="password" [toggleMask]="true" [feedback]="false" [fluid]="true" formControlName="password" />
    <label for="password">Senha</label>
  </p-floatlabel>

  <p-button type="submit" class="button-submit" label="Cadastrar" />

  <a class="other-auth-link link go-to-login-text" (click)="goToLoginPage()">Já tem conta?</a>
</form>
