<div class="sidebar-right">

    <p-button routerLink="/my-games" label="Sair" />

  <p-panel header="Jogadores">
    @for (user of users; track $index) {
    <div class="menu-item">
      {{ user.name }}
    </div>
    }
  </p-panel>
</div>


<div class="grid">
    @for (card of cards(); track $index) {
      <div 
        class="card" 
        [class.flipped]="card.flipped" 
        (dblclick)="flipCard(card.id!)" 
        (cdkDragEnded)="drop($event)"
        cdkDrag
      >
        <div class="card-inner">
          <div class="face front">{{ card.label }}</div>
          <div class="face back"></div>
        </div>
      </div>
    }
</div>