<div class="lay">
  <div class="main-content" #mainContent>
  <div class="grid">
    @for (card of freeModeService.tableCards(); track card.id) {
        <app-card-game
          style="position: absolute; width: 80px; height: 120px; background-color: #F8F6F3;"
          bgColor="white"
          [cardLayout]="cardLayouts[card.cardLayoutId]"
          [card]="card"
          (cardDragStart)="onDragStart($event)"
          (cardDragEnd)="onDrop($event)"
          (cardContextMenu)="showOptions($event, card, popover)"
          (mousemove)="onDragMoved($event)"
          (cardDoubleClick)="flipCard(card)"
        />
      }
  </div>

    <div class="hand-area-container" #handAreaContainer>
      @for (card of freeModeService.myHandCards(this.currentPlayer?.playerId || ''); track card.id) {
        <app-card-game
          style="width: 80px; height: 120px;"
          bgColor="white"
          [isDisplayOnly]="true"
          [cardLayout]="cardLayouts[card.cardLayoutId]"
          [card]="card"
          (cardDragStart)="onDragStart($event)"
          (cardDragEnd)="onDrop($event)"
          (cardContextMenu)="showOptions($event, card, popover)"
          (mousemove)="onDragMoved($event)"
          (cardDoubleClick)="flipCard(card)"
        />
      }
    </div>
    <div class="hand-area" #handArea></div>
</div>
<div class="sidebar-right">
  <p-button routerLink="/my-games" label="Sair" (onClick)="resetLocalGame()" />

  @if (isAdmin()) {
    <p-button label="Começar" (onClick)="startGame()" />
  }

  <p-panel header="{{'rooms.header' | translate}}">
    @for (player of players; track $index) {
    <div class="menu-item">
      {{ player.name }} - {{ cardsInHand()[player.playerId] || 0 }}
    </div>
    }
  </p-panel>
</div>
</div>



<p-popover #popover [dismissable]="true">
  @if(selectedCard && freeModeService.isPartOfPile(selectedCard.id!)) {
  <ng-container>
    <p-button
      label="Embaralhar"
      icon="pi pi-refresh"
      (click)="onShuffleClick(popover)"
    ></p-button>
  </ng-container>
  }
</p-popover>
