.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px; /*IGUAL*/
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
}

.play-area {
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;

  right: 220px; /*IGUAL*/
  overflow: hidden;
}


.menu-item {
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  padding: 0.7rem 1rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #d64545;
}

.menu-item:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

/*
CSS PROVISORIO DAS CARTITAS
*/
.grid { position: relative; display: block; gap: 16px; flex-wrap: wrap; }

.card {
  position: absolute;
  width: 110px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 6px;
}

.card-inner {
  width: 110px;
  height: 160px;
  border-radius: 12px;
  position: relative;
  perspective: 1000px;
  transform-style: preserve-3d;
  transition: transform .3s ease;
  box-shadow: 0 2px 10px rgba(0,0,0,.15);
  cursor: pointer;
}

.card.flipped .card-inner {
  transform: rotateY(180deg);
}

.face {
  position: absolute;
  inset: 0;
  display: grid;
  place-items: center;
  font-weight: 700;
  font-size: 28px;
  border-radius: 12px;
  backface-visibility: hidden;
}

.front { background: #fff; }
.back  { background: #d64545; transform: rotateY(180deg); }

.remove-pointer-events, .remove-pointer-events > * {
  pointer-events: none;
}

/* Quadrado que mostra o número de cartas em uma pilha */
.square-number-cards {
  position: absolute;
  top: 10px;
  left: -25px;
  width: 25px;
  height: 25px;

  background: #2d3142;
  border-top-left-radius: 10px;
  border-bottom-left-radius: 10px;
  z-index: 10;

  text-align: center;
  color: white;

  cursor: pointer;
}
