<p-dialog
  header="{{ 'modal-create-room.create-room' | translate }}"
  [(visible)]="display"
  [modal]="true"
  (onHide)="close()"
  [draggable]="false"
  [resizable]="false"
>
  <div class="form">
    <div class="inline-input">
      <label for="gameName">{{
        "modal-create-room.game-name" | translate
      }}</label>
      <p-select
        [options]="gameInfos"
        [(ngModel)]="gameInfo"
        optionLabel="name"
        placeholder="{{
          'modal-create-room.game-name-placeholder' | translate
        }}"
      >
        ></p-select
      >
    </div>

    <p-button
      type="submit"
      label="{{ 'modal-create-room.submit-button' | translate }}"
      (click)="createRoom()"
    />
  </div>
</p-dialog>
