<div class="cards-grid">
	<ng-container *ngIf="cards.length > 0; else noCards">
		<div class="card-item" *ngFor="let card of cards">
			<app-card-3d
				(click)="onCardClick(card)"
				[flip]="false"
				[glow]="false"
				[rotate]="true"
				frontColor="#fff"
				backColor="#222"
				frontTextColor="#222"
				backTextColor="#fff">
				<div cardFront>
					<h3>{{ card.name }}</h3>
					<!-- Add more card front details here -->
				</div>
				<div cardBack>
					<span>ID: {{ "card.layout.cardFields" }}</span>
					<!-- Add more card back details here -->
				</div>
			</app-card-3d>
		</div>
	</ng-container>
	<ng-template #noCards>
		<div class="no-cards">Nenhuma carta encontrada.</div>
	</ng-template>
</div>
