
<div class="create-card-layout">
  <aside class="sidebar">
    <div class="sidebar-content">
      <p-floatlabel variant="on" class="floatlabel">
          <input type="text" pInputText [(ngModel)]="cardName" id="cardName" autocomplete="off"/>
          <label for="cardName">{{'create-card.card-name-label' | translate}}</label>
      </p-floatlabel>
      <div>
          <span>{{'create-card.card-layout-label' | translate}}</span>
        <p-select
          [options]="cardLayouts"
          [(ngModel)]="cardLayout"
          optionLabel="name"
            [placeholder]="'create-card.card-layout-placeholder' | translate"
        ></p-select>
      </div>
      <p-button
          [label]="editingCard ? ('create-card.update-button' | translate) : ('create-card.save-button' | translate)"
        icon="pi pi-save"
        iconPos="right"
        (click)="saveCard()"
      />
    </div>
  </aside>
  <main class="main-content">
    @if (cardGame()) {
      <app-card-game-layout
        class="card-layout-preview"
        [cardLayout]="cardGame()!"
        (cardLayoutFieldClicked)="clickCardField($event)"
      />
    }
    @if (selectedField) {
      <p-floatlabel variant="on" class="floatlabel">
        @if (isFieldImage()) {
            <p-fileupload mode="basic" [chooseLabel]="'create-card.choose-image-label' | translate" chooseIcon="pi pi-upload" accept="image/*" maxFileSize="1000000" (onSelect)="onSelect($event)" />
        } @else {
          <input
            type="text"
            pInputText
            [(ngModel)]="selectedField.value"
            id="cardFieldName"
            autocomplete="off"
          />
            <label for="cardFieldName">{{'create-card.card-field-name-label' | translate}}</label>
        }
      </p-floatlabel>
    }
  </main>
</div>
