.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px; /*IGUAL*/
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
}

.menu-item {
  background-color: #fff;
  border-radius: 0.3rem;
  border: 1px solid #ccc;
  padding: 0.7rem 1rem;
  margin-bottom: 0.75rem;
  cursor: pointer;
  user-select: none;
  transition: background-color 0.3s, box-shadow 0.3s;
  color: #d64545;
}

.menu-item:hover {
  background-color: #e0e0e0;
  box-shadow: 0 0 5px rgba(0,0,0,0.2);
}

.game-field {
  position: relative;
  display: block;
  gap: 16px;
  flex-wrap: wrap;
}

.pile {
  position: absolute;
  width: 120px;
  height: 180px;
  background: #cce;
  border: 2px solid #99a;
  border-radius: 6px;
  user-select: none;
}

.label {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background: #fafafa;
  border-radius: 4px;
  font-weight: bold;
  user-select: none;
}

.hand {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 75%;
  height: 200px;
  border-radius: 6px;
  background-color: gray;
}

.next-phase-btn {
  position: absolute;
  padding: 0.7rem 1.2rem;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: pointer;
  user-select: none;
}

.hand-area-container {
  overflow-x: auto;
  overflow-y: visible;
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: end;
  padding-bottom: 140px;
}
.hand-area {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: lightgray;
  border: 1px solid black;
  z-index: -1;
}

.main-content {
  width: 100%;
  flex-grow: 1;
  height: 100vh;
}

.lay {
  display: flex;
}