<p-dialog
  header="Criar novo jogo"
  [(visible)]="showModal"
  (onHide)="close()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form class="form" [formGroup]="form" (submit)="createGame()">
    <div>
      <label for="gameName" class="label">Nome do jogo</label>
      <input
        id="gameName"
        pInputText
        placeholder="Digite o nome do jogo"
        formControlName="gameName"
      />
    </div>

    <div>
      <div>Modo de jogo</div>

      <div class="gamemode-groups">
        @for (gameMode of modes; track $index) {
          <div class="gamemode-group">
            <p-radio-button
              name="gameMode"
              [inputId]="gameMode.value"
              [value]="gameMode.value"
              formControlName="gameMode"
            />
            <label [for]="gameMode.value" class="label">{{gameMode.label}}</label>
          </div>
        }
      </div>
    </div>

    <p-button type="submit" label="CRIAR" />
  </form>
</p-dialog>
