.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  row-gap: 20px;
}

.inline-input {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

.stacked-input {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.floatlabel {
  width: 100%;
}

#description {
  height: 100px;
}

#countPlayersMin, #countPlayersMax {
  width: 50px;
}
