.form {
  display: flex;
  flex-direction: column;
  row-gap: 20px;
}

.label {
  display: block;
}

.gamemode-groups {
  display: flex;
  align-items: center;
  column-gap: 20px;
}

.gamemode-group {
  display: flex;
  align-items: center;
  column-gap: 10px;
}
