<p-dialog
  header="{{ 'modal-create-game.header' | translate }}"
  [(visible)]="showModal"
  (onHide)="close()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form class="form" [formGroup]="form" (submit)="createGame()">
    <div>
      <label for="gameName" class="label">{{'modal-create-game.game-name' | translate}}</label>
      <input
        id="gameName"
        pInputText
        placeholder="{{'modal-create-game.game-name-placeholder' | translate}}"Digite o nome do jogo
        formControlName="gameName"
      />
    </div>

    <div>
      <div>{{'modal-create-game.game-mode' | translate}}</div>

      <div class="gamemode-groups">
        @for (gameMode of modes; track $index) {
          <div class="gamemode-group">
            <p-radio-button
              name="gameMode"
              [inputId]="gameMode.value"
              [value]="gameMode.value"
              formControlName="gameMode"
            />
            <label [for]="gameMode.value" class="label">{{gameMode.label}}</label>
          </div>
        }
      </div>
    </div>

    <p-button type="submit" label="{{'modal-create-game.submit-button' | translate}}" />
  </form>
</p-dialog>
