<p-dialog
  header="Criar novo jogo"
  [(visible)]="showModal"
  (onHide)="close()"
  [modal]="true"
  [draggable]="false"
  [resizable]="false"
>
  <form class="form" [formGroup]="form" (submit)="createGame()">
    <p-floatlabel variant="on" class="floatlabel">
      <input
        id="name"
        pInputText
        [fluid]="true"
        formControlName="name"
      />
      <label for="name">Nome do jogo</label>
    </p-floatlabel>

    <p-floatlabel variant="on" class="floatlabel">
      <textarea
        pTextarea
        id="description"
        [autoResize]="false"
        [fluid]="true"
        formControlName="description"
      ></textarea>
      <label for="description">Descrição do jogo</label>
    </p-floatlabel>

    <div class="inline-input">
      <span>Modo de jogo</span>

      <p-selectbutton
        [options]="modes"
        [allowEmpty]="false"
        formControlName="gameMode"
      >
        <ng-template #item let-item>
          <span [pTooltip]="item.description" tooltipPosition="top">{{ item.value }}</span>
        </ng-template>
      </p-selectbutton>
    </div>

    <div class="inline-input">
      <span>Número de jogadores <br> (mínimo 2, máximo 99)</span>

      <div class="stacked-input">
        <span>Min</span>

        <p-inputnumber
          id="countPlayersMin"
          inputId="integeronly"
          [showButtons]="true"
          [min]="2"
          [max]="99"
          [fluid]="true"
          [allowEmpty]="false"
          buttonLayout="vertical"
          formControlName="countPlayersMin"
        />
      </div>

      <div class="stacked-input">
        <span>Max</span>

        <p-inputnumber
          id="countPlayersMax"
          inputId="integeronly"
          [showButtons]="true"
          [min]="2"
          [max]="99"
          [fluid]="true"
          [allowEmpty]="false"
          buttonLayout="vertical"
          formControlName="countPlayersMax"
        />
      </div>
    </div>

    <p-button type="submit" label="CRIAR" />
  </form>
</p-dialog>
