.top-content {
  display: flex;
  align-items: center;
  height: 100px;
  width: 100%;
  overflow: hidden;
  border-bottom: 1px solid black;
}

.back-link {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
  padding-inline: 40px;
  border-right: 1px solid black;
  color: black;
  text-decoration: none;
  cursor: pointer;
}

.back-icon {
  font-size: 2rem;
}

.game-name {
  flex-grow: 1;
  max-width: 300px;
  padding-inline: 20px;
  font-size: 1.5rem;
}

.game-banner {
  height: 100%;
  flex-grow: 1;
}
