.grid {
  --min-column-size: 250;
  display: flex;
  /* grid-template-columns: 
    repeat(auto-fill, minmax(min(var(--min-column-size) * 1px, 100%), 1fr)); */
  /* grid-auto-rows: min-content; */
  gap: 1rem;
}

.grid-placeholder {
  border: dashed #000000 2px;
  border-radius: 20px;
}
