.back  { background: #d64545; transform: translateZ(-10px); }

.cont {
  transform: rotateY(180deg);
}

.flipped .cont {
  transform: rotateY(0deg);
  transform-style: preserve-3d;
}

.align-popover {
  position: absolute;
  left: 0;
  bottom: 60px;
  height: 100%;
  width: 100%;
}
