

<div
  style="position: relative; width: min-content;"
  [class.flipped]="card.flipped"
  (dblclick)="onDoubleClick($event)"
  (contextmenu)="onContextMenu($event)"
  (cdkDragEnded)="onDragEnd($event)"
  (cdkDragStarted)="onDragStart($event)"
  cdkDrag
  [cdkDragFreeDragPosition]="card.freeDragPos"
  [attr.card-id]="card.id"
  [style.z-index]="card.zIndex"
>
<div class="cont">

  <app-card-game-layout style="display: block;" class="face" [cardLayout]="cardLayoutValues" [cardId]="card.id" />
  <div style="position: absolute; top: 0; left: 0; height: 300px; width: 200px;" class="face back" [attr.card-id]="card.id"></div>
</div>
</div>

