@if (isDisplayOnly) {
<div
  style="position: relative; width: min-content; scale: 0.6; border: 2px solid black;"
  [cdkDragScale]="0.6"
  [class.flipped]="card.flipped"
  (dblclick)="onDoubleClick($event)"
  (contextmenu)="onContextMenu($event)"
  (cdkDragEnded)="onDragEnd($event)"
  (cdkDragMoved)="onDragMoved($event)"
  (cdkDragStarted)="onDragStart($event)"
  cdkDrag
  cdkDragBoundary="body"
  [attr.card-id]="card.id"
  [style.z-index]="card.zIndex"
>
<div class="cont">
  <app-card-game-layout style="display: block;" class="face" [bgColor]="bgColor" [cardLayout]="cardLayoutValues" [cardId]="card.id" />
  <div style="position: absolute; top: 0; left: 0; height: 300px; width: 200px;" class="face back" [attr.card-id]="card.id"></div>
</div>
</div>
} @else {


<div
  style="position: relative; width: min-content; scale: 0.6; border: 2px solid black;"
  [cdkDragScale]="0.6"
  [class.flipped]="card.flipped"
  (dblclick)="onDoubleClick($event)"
  (contextmenu)="onContextMenu($event)"
  (cdkDragEnded)="onDragEnd($event)"
  (cdkDragMoved)="onDragMoved($event)"
  (cdkDragStarted)="onDragStart($event)"
  cdkDrag
  cdkDragBoundary="body"
  [cdkDragFreeDragPosition]="card.freeDragPos"
  [attr.card-id]="card.id"
  [style.z-index]="card.zIndex"
>
<div class="cont">
  <div class="align-popover"></div>

  <app-card-game-layout style="display: block;" class="face" [bgColor]="bgColor" [cardLayout]="cardLayoutValues" [cardId]="card.id" />
  <div style="position: absolute; top: 0; left: 0; height: 300px; width: 200px;" class="face back" [attr.card-id]="card.id"></div>
</div>
</div>

}
