.gap-items {
  display: flex;
  align-items: center;
  column-gap: 10px;
}

:host ::ng-deep .p-panel {
  box-shadow: 0 4px 24px rgba(166, 60, 26, 0.10);

  border: none;
  width: 100%;
  height: 100%;
}
.buttons {
  display: flex;
  justify-content: center;
  gap: 10px;
}