<p-panel class="panel">
  <ng-template #header>
    <div class="gap-items">
      <span class="pi" [ngClass]="ngIconGamemode"></span>
      {{ gameInfo.name }}
    </div>
  </ng-template>

  
  <p><strong>{{'panel-game.number-of-players' | translate}}</strong> {{ gameInfo.countPlayersMin }} - {{ gameInfo.countPlayersMax }}</p>
  <p><strong>{{'panel-game.number-of-cards' | translate}}</strong> {{ gameInfo.countCards }}</p>

  <ng-template #footer> 
    <div class="buttons">
        <button pButton type="button" icon="pi pi-pencil" label="Editar" [routerLink]="['game-description', gameInfo.id]"></button>
        <button pButton type="button" icon="pi pi-trash" label="Deletar" (click)="deleteGame()"></button>
    </div>
  </ng-template>
</p-panel>
