<p-panel class="panel">
  <ng-template #header>
    <div class="gap-items">
      <span class="pi" [ngClass]="ngIconGamemode"></span>
      {{ gameInfo.name }}
    </div>
  </ng-template>

  <ng-template #icons>
    <div class="gap-items">
      <p-button icon="pi pi-book" severity="secondary" [rounded]="true" [routerLink]="['game-description', gameInfo.id]" />
      <p-button icon="pi pi-pencil" severity="secondary" [rounded]="true" [routerLink]="['game-edit', gameInfo.id]" />
    </div>
  </ng-template>

  <p><strong>Players:</strong> {{ gameInfo.countPlayersMin }} - {{ gameInfo.countPlayersMax }}</p>
  <p><strong>Cards:</strong> {{ gameInfo.countCards }}</p>
</p-panel>
