@import "primeicons/primeicons.css";

:root {
  --form-primary-color: #353238;
  --form-primary-color-hover: #535055;
  --form-primary-color-active: #4ac746;
  --form-background-color: #ffffff;
  --form-message-color: #545454;
  --form-link-color: #000000;
  --form-floatlabel-color: #000000;
}

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}
