@import "primeicons/primeicons.css";

* {
  padding: 0;
  border: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

:root {
    --primary: #ff6f61;
    --secondary: #2d3142;
    --accent: #f4d35e;
    --bg: #f9fafc;
    --card-bg: #fff;
    --shadow: 0 4px 24px rgba(44,62,80,0.08);
    --danger: #f64e3f;
}

.remove-pointer-events, .remove-pointer-events > * {
  pointer-events: none;
}

a {
  color: black;
}

p-password .p-password-mask-icon:hover {
  cursor: pointer; /* mostra que o ícone de "mostrar senha" é clicável */
}

p-menubar .p-menubar-button {
  order: 1; /* posiciona o menu de hamburguer à direita */
}

p-dialog .p-dialog-content {
  overflow-y: visible;
}

textarea {
  resize: none;
}

body {
  height: 100dvh;
  background-color: #f8f6f3;
}
