<div class="sidebar-right">

  <p-button [routerLink]="['/my-games/game-description', game.id]" label="Voltar" />

  <div class="toolbox">
    <!-- Botão para adicionar pilha -->
    <div class="tool-card" (click)="addPile()">
      <div class="pile-preview"></div>
      <span>Pilha</span>
    </div>

    <!-- Botão para adicionar label -->
    <div class="tool-card" (click)="addLabel()">
      <div class="label-preview">Label Attribute</div>
    </div>
  </div>

  <p-button label="Salvar Campo" (click)="saveField()" />

</div>

<!-- Área de jogo -->
<div class="game-field" #gameField>
  
  @for (item of items; track item; let i = $index) {

    @if (item.type === 'passPhase') {

      <button 
        cdkDrag 
        cdkDragBoundary=".game-field"
        (cdkDragEnded)="onDragEnd($event, 0)"
        [cdkDragFreeDragPosition]="item.position"
        class="next-phase-btn">
        Next Phase
      </button>

    }

    @else {

      <div 
        cdkDrag
        cdkDragBoundary=".game-field"
        (cdkDragEnded)="onDragEnd($event, i)"
        [cdkDragFreeDragPosition]="item.position"
        [ngClass]="item.type"
        (contextmenu)="onItemClick($event, i, popover)">
        {{ item.nameIdentifier }}
      </div>

    }
  }
  <!-- Popover para menu -->
   <p-popover #popover>
      <div class="menu-options">
        <button pButton type="button" 
                icon="pi pi-trash" 
                label="Deletar" 
                (click)="deleteItem(selectedItemIndex!, popover)">
        </button>
      </div>
    </p-popover>

</div>
