.sidebar-right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
  overflow-y: auto;
}

/* Quando expandir */
.sidebar-right.expanded {
  width: 30vw; /* ocupa metade da tela */
}

/* Ajusta posição quando expandido */
.sidebar-right.expanded .sidebar-toggle {
  left: -18px;
}

.toolbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  width: max-content;
  margin-inline: auto;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
  border: 2px solid black;
  border-radius: 10px;
  padding: 10px;
}

.pile-preview {
  width: 60px;
  height: 90px;
  background: #ddd;
  border: 2px solid #aaa;
  margin-bottom: 0.5rem;
}

.label-preview {
  padding: 0.3rem 1rem;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 4px;
}

.game-field {
  position: relative;
  width: calc(100% - 260px);
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.pile {
  position: absolute;
  width: 120px;
  height: 180px;
  background: #cce;
  border: 2px solid #99a;
  border-radius: 6px;
  
}

.label {
  position: absolute;
  width: 100px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background: #fafafa;
  border-radius: 4px;
}

.hand-area-container {
  overflow-x: auto;
  overflow-y: visible;
  position: absolute;
  bottom: 0;
  height: 100%;
  display: flex;
  gap: 50px;
  align-items: end;
  padding-bottom: 140px;
}
.hand-area {
  position: absolute;
  bottom: 0;
  height: 150px;
  width: 100%;
  background-color: lightgray;
  border: 1px solid black;
  z-index: -1;
}

.next-phase-btn {
  position: absolute;
  padding: 0.7rem 1.2rem;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: grab;
}

.game-item {
  position: relative;
  cursor: pointer;
  margin: 5px;
}

.rename-box {
  margin-top: 5px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}

.top-bar {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.btn-save-field {
  margin-top: auto;
  margin-left: auto;
}

.options {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.option-input-btn {
  display: flex;
  justify-content: space-between;
}
