.sidebar-right {
  position: fixed;
  top: 0;
  right: 0;
  width: 260px;
  height: 100vh;
  background-color: #f9f9f9;
  box-shadow: -2px 0 5px rgba(0,0,0,0.1);
  padding: 1rem;
  box-sizing: border-box;
  z-index: 1000;
}

/* Quando expandir */
.sidebar-right.expanded {
  width: 75vw; /* ocupa metade da tela */
}

/* Ajusta posição quando expandido */
.sidebar-right.expanded .sidebar-toggle {
  left: -18px;
}

.toolbox {
  display: flex;
  flex-direction: column;
  gap: 1rem;
  margin-bottom: 2rem;
}

.tool-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  cursor: pointer;
}

.pile-preview {
  width: 60px;
  height: 90px;
  background: #ddd;
  border: 2px solid #aaa;
  margin-bottom: 0.5rem;
}

.label-preview {
  padding: 0.3rem 1rem;
  border: 1px solid #aaa;
  background: #eee;
  border-radius: 4px;
}

.game-field {
  position: relative;
  width: calc(100% - 260px);
  height: 100vh;
  background-color: transparent;
  overflow: hidden;
}

.pile {
  width: 80px;
  height: 120px;
  background: #cce;
  border: 2px solid #99a;
  border-radius: 6px;
}

.label {
  width: 100px;
  height: 50px;
  padding: 0.5rem 1rem;
  border: 1px solid #333;
  background: #fafafa;
  border-radius: 4px;
}

.hand {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  
  width: 75%;
  height: 200px;
  border-radius: 6px;
  background-color: gray;
}

.next-phase-btn {
  padding: 0.7rem 1.2rem;
  background: #4caf50;
  color: #fff;
  border: none;
  border-radius: 6px;
  font-weight: bold;
  cursor: grab;
}

.game-item {
  position: relative;
  cursor: pointer;
  margin: 5px;
}

.rename-box {
  margin-top: 5px;
}

.menu-options {
  display: flex;
  flex-direction: column;
  gap: .5rem;
}
