.page {
  padding: 1rem 2rem;
}

.top-bar {
  display: flex;
  align-items: center;
  column-gap: 10px;
  margin-bottom: 20px;
}

.search-field {
  max-width: 400px;
}

.btn-create-game {
  padding-block: 40px;
  text-transform: uppercase;
  font-size: 1.5rem;
  --p-icon-size: 1.5rem;
}
