<div class="page">
  <div class="top-bar">
    <p-iconfield class="search-field">
      <p-inputicon class="pi pi-search" />
      <input type="text" pInputText placeholder="Search" [fluid]="true" [(ngModel)]="search" />
    </p-iconfield>

    <p-selectbutton [options]="modes" [(ngModel)]="gameMode" />

    <p-button icon="pi pi-trash" (onClick)="resetFilter()" />
  </div>

  <app-placeholder-grid>
    <button class="btn-create-game" pButton (click)="showModal()">
      <span class="pi pi-plus" pButtonIcon></span>
      <span pButtonLabel>Criar jogo</span>
    </button>

    @for (gameInfo of filteredGames(); track gameInfo.id) {
      <app-panel-game [gameInfo]="gameInfo"></app-panel-game>
    }
  </app-placeholder-grid>
</div>

<app-modal-create-game [(showModal)]="showCreateGameModal" (gameCreated)="loadGames()" />
