
<p-iconfield>
    <p-inputicon styleClass="pi pi-search" />
    <input type="text" pInputText placeholder="Search" />
</p-iconfield>

<div class="panels-container">
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
  <app-panel-game class="panel"></app-panel-game>
</div>
