.page {
  padding: 1rem 2rem;
}

.top-bar {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap: 10px;
  margin-bottom: 20px;
}

.search-field {
  max-width: 400px;
}

.btn-create-game {
  padding-block: 40px;
  text-transform: uppercase;
  font-size: 1.5rem;
  --p-icon-size: 1.5rem;
}

.games-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 10px;
}