@if (currentGame) {
  <p-tabs value="game-info">
    <p-tablist>
      <p-tab value="game-info">{{'game' | translate}}</p-tab>
    </p-tablist>
    <p-tabpanels>
      <p-tabpanel value="game-info">
        <div>
          <span>{{'card-layout' | translate}}</span>

          <p-select
            [options]="cardLayouts"
            [(ngModel)]="cardLayout"
            optionLabel="name"
            placeholder="{{'card-layout-selection-placeholder' | translate}}"
          ></p-select>
        </div>

        <p-button
          label="{{'save-button' | translate}}"
          icon="pi pi-save"
          iconPos="right"
          (click)="saveGame()"
        />
      </p-tabpanel>
    </p-tabpanels>
  </p-tabs>
} @else {
  <p>{{'game-edit-page.empty-message' | translate}}</p>
}
