<h1>{{'forget-password.title' | translate }}</h1>
<span class="message">{{'forget-password.message' | translate }}</span>

<form class="form" [formGroup]="form" (submit)="submit()">
  @let email = form.controls['email'];

  <!--Email-->
  <p-floatlabel variant="on">
    <label for="email">{{'forget-password.email' | translate }}</label>
    <input id="email" pInputText [fluid]="true" formControlName="email" />
  </p-floatlabel>
  <span class="form-control-error" [class.visible]="email.invalid && email.touched"> 
    @if (email.hasError('required')) {
      {{ 'login.errors.email-required' | translate }}
    } @else if (email.hasError('email')) {
      {{ 'login.errors.email-invalid' | translate }}
    }
  </span>

  <p-button type="submit" class="button-submit" [label]="resetRequested ? ('forget-password.resend' | translate) : ('forget-password.send' | translate)" />

  <a class="other-auth-link" routerLink="/login">{{'forget-password.login-prompt' | translate }}</a>
</form>
