<h1>{{'forget-password.title' | translate }}</h1>
<span class="message">{{'forget-password.message' | translate }}</span>

<form class="form" [formGroup]="forgetForm" (submit)="onSubmit()">
  <p-floatlabel variant="on">
    <label for="email">{{'forget-password.email' | translate }}</label>
    <input id="email" pInputText [fluid]="true" formControlName="email" />
  </p-floatlabel>

  <p-button type="submit" class="button-submit" [label]="resetRequested ? ('forget-password.resend' | translate) : ('forget-password.send' | translate)" />

  <a class="other-auth-link link" routerLink="/login">{{'forget-password.login-prompt' | translate }}</a>
</form>
