<h1>Esqueci a Senha</h1>
<span class="message">Informe seu email para redefinir a senha</span>

<form class="form" [formGroup]="forgetForm" (submit)="onSubmit()">
  <p-floatlabel variant="on">
    <label for="email">Email</label>
    <input id="email" pInputText fluid="true" formControlName="email" />
  </p-floatlabel>

  <p-button type="submit" class="button-submit" [label]="resetRequested ? 'Reenviar' : 'Enviar'" />

  <a class="other-auth-link link" routerLink="/login">Voltar ao login</a>
</form>
